### Symfony ###
.env
.env.*
!.env.example

/config/secrets/prod/prod.decrypt.private.php
/var/
/vendor/
/public/bundles/

### PHPUnit ###
/phpunit.xml
/.phpunit.cache/

### Node ###
node_modules/
/public/build/

### IDE ###
.idea/
.DS_Store
TODO.md

### OVH / server files ###
.ovhconfig

### Debug / security risk ###
/public/phpinfo.php
/public/info.php
/public/test.php
/public/whoami.php
/public/kernel_test.php
/public/flush_cache.php

/config/secrets/

/var/log/
