###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

.idea/
TODO.md

# Node (même si supprimé)
node_modules/

# Front assets (ton nouveau setup)
public/build/

# OS / editor
.DS_Store
