{% extends 'base.html.twig' %}

{% block title %}Hello StrategicAdviceController!{% endblock %}

{% block body %}
<section style="margin-bottom: 100px">
    {{ component('ServiceHeader', {
        backgroundClass: 'service-header-oenotourisme',
        title: 'Conseil stratégique en œnotourisme et agritourisme',
        subtitle: 'Le tourisme, une autre manière de gagner en attractivité !<br>Démarquez-vous et créez des projets qui vous ressemblent !',
        objectives: '<p><span style="font-size:x-large;color:#ffffff;">Objectifs :</span></p>'
    }) }}

    {{ component('ObjectiveGrid', {
        topImage1: 'etiquette-9-rouge-haut.jpg',
        bottomImage1: 'etiquette-9-rouge-bas.jpg',
        title1: 'Construire votre réputation et consolider votre identité',

        topImage2: 'etiquette-10-jaune-haut.jpg',
        bottomImage2: 'etiquette-10-jaune-bas.jpg',
        title2: 'Être vu, devenir reconnu dans votre domaine',

        topImage3: 'etiquette-11-violet-haut.jpg',
        bottomImage3: 'etiquette-11-violet-bas.jpg',
        title3: 'Encourager le rapport de confiance, créer du lien',

        topImage4: 'etiquette-9-rouge-haut.jpg',
        bottomImage4: 'etiquette-9-rouge-bas.jpg',
        title4: 'Générer du traffic, améliorer le référencement de votre site web',
    }) }}


    <div class="supportflaveur text-center container mt-5 mb-5">
        <p>Flaveur vous accompagne dans la construction ou la redéfinition de votre stratégie d’animation in situ ou bien hors les murs,<br> en tenant compte de l’identité de votre entreprise.</p>
    </div>

    {{ component('ApproachHeader', {
        title: "L’approche Flaveur",
        backgroundClass: "approach-bg-prestas1"
    }) }}



</section>
{% endblock %}
