{% extends 'base.html.twig' %}

{% block body %}

    <section class="contact-page">

        <div class="contact-page__background"
        data-aos="fade-up"
                 data-aos-duration="3000"
        ></div>
        <div class="contact-page__overlay"
        data-aos="fade-up"
                 data-aos-duration="3000"
        ></div>

        {# HERO IMAGE ONLY #}
        <section class="hero-full"
                 data-aos="fade-up"
                 data-aos-duration="3000">

            <img class="hero-full__img"
                 src="{{ asset('images/rando-reunion2.jpg') }}"
                 alt="Hero">

        </section>

        {# TITLE BELOW IMAGE #}
        <div class="hero-title container">
            <em>Prendre de la hauteur ensemble...</em>
        </div>

        {# CONTENT #}
        <section class="projects-section">

            <div class="container" data-aos="fade-up" data-aos-duration="3000">

                {{ component('ProjectItem', {
                    image: 'images/cecile.jpg',
                    title: '',
                    subtitle: 'Flaveur',
                    variant: 'communication',
                    class: 'project-item__image--cecile',
                    content: "
                <strong><i class='fa-solid fa-user'></i></strong> Cécile Muscat<br>
                    <strong>
                <i class='fa-solid fa-house'></i>

                </strong>Rasteau 84110, France<br>
                <strong><i class='fa-solid fa-phone'></i></strong> 0615106609<br>
                <strong><i class='fa-solid fa-envelope'></i></strong>contact@agenceflaveur.fr<br>
                <strong>
                    <i class='fa-brands fa-linkedin'></i>
                    <a href='https://www.linkedin.com/in/c%C3%A9cile-muscat-flaveur/'
                       target='_blank'
                       class='linkedin-link'>
                        LinkedIn
                    </a>
                </strong>

                <br><br>
"
                }) }}

            </div>

        </section>

    </section>

{% endblock %}
