<section{{ attributes }}>
    <div class="approach-header text-center py-5 {{ backgroundClass }}">
        <div class="section-top-divider"></div>

        <div class="container">
            <h1 class="text-white fw-bold">{{ title|raw }}</h1>

            {% if text %}
                <div class="approach-header-text-development text-white text-center">
                    {{ text|raw }}
                </div>
            {% endif %}
        </div>
    </div>
</section>
