<div{{ attributes }}>
    <{# templates/components/Testimonial.html.twig #}
    <div class="testimonial">
        <div class="testimonial-icon"></div>

        <div class="testimonial-content">
            {{ text|raw }}
        </div>
    </div>
</div>
